@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 9999px; 
    transition: background-color 0.2s, color 0.2s;
}

.nav-link:hover {
    background-color: #e5f0ff; 
    color: #4773d4; 
}

.nav-link.active {
    background-color: #345ebb; 
    color: white;
}
